@charset "utf-8";

html {
    font-size: 42px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    max-width: 1080px;
    height: 7.86rem;
    box-shadow: 0 0.09rem #666;
}

.box {
    max-width: 1080px;
    padding-top: 7.86rem;
}

.hots {
    padding: 0 3.7%;
    height: 21.9rem;
}

.hots>div {
    height: 2.9rem;
    font-size: 1.43rem;
    line-height: 2.9rem;
    color: #f62828;
    padding: 1rem 0 0 10.5%;
}

.hots li {
    border-bottom: 0.14rem dotted #666;
}

.hots li:last-child {
    border-bottom: 0.14rem dotted #fff;
}

.hots li a {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 14% 0 10%;
}

.hots li a:before {
    content: '\200B';
    position: absolute;
    width: 0.71rem;
    height: 0.71rem;
    top: 3.8rem;
    left: 0.03%;
    background: #666;
    border-radius: 50%;
}

.hots h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: nowrap;
    font-size: 1.33rem;
    height: 2.67rem;
    line-height: 2.67rem;
    padding-top: .29rem;
    font-weight: bold;
}

.hots p {
    line-height: 1.19rem;
    height: 2.38rem;
    overflow: hidden;
}

.hots li div {
    line-height: 1rem;
    height: 1rem;
    padding-left: 0.062%;
    margin: 1rem 0 1.38rem;
}

.model {
    padding: 0 3.7%;
    height: 34.76rem;
}

footer {
    height: 3.45rem;
}


header,.model:nth-of-type(1),footer {
    background: #ccc;
}

.hots,.model:nth-of-type(2) {
    background: #e9e9e9;
}
