@charset "utf-8";

html {
    font-size: 42px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    max-width: 1080px;
    height: 330px;
    box-shadow: 0 4px #666;
}

.box {
    max-width: 1080px;
    padding-top: 330px;
}

.hots {
    padding: 0 40px;
    height: 920px;
}

.model {
    padding: 0 40px;
    height: 1460px;
}

footer {
    height: 145px;
}


header,.model:nth-of-type(1),footer {
    background: #ccc;
}

.hots,.model:nth-of-type(2) {
    background: #e9e9e9;
}
